{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/satellites/satellite-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Satellites</h1>
</section>

<section class="card-container">
  {% for satellite in satellite_list %}
  <div class="card" style="border-color: {{ satellite.color }}">
    <div class="card-bg" style="background-color: {{ satellite.color }}"></div>
    <a href="{% url 'satellite-detail' satellite.id %}">
      <div class="card-content">
        <h2>{{ satellite.name }}</h2>
        <p>A {{ satellite.company }} satellite</p>
        <p>Expected to be opperating for {{ satellite.duration }}</p>
        <p>{{ satellite.description }}</p>
        <p>A {{ satellite.color }} satellite</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}