.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 275px;
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
}

.card-content {
  padding: 0 10px 10px;
  width: 100%;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
  margin: 0;
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}

.card-img-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.go-to-calendar {
  font-size: 20px;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  background: rgba(250, 248, 176, 0.9);
  border-radius: 5px;
}

.go-to-calendar:hover {
  background-color: aliceblue;
}

.event-content {
  position: relative;
  background-color: #fff;
}

.event-content img {
  height: 100px;
  width: 100%;
  opacity: 0.3;
  overflow: hidden;
}

.event-content span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  color: white;
  font-weight: bold;
  font-size: 15px;
  color: black;
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event-content:hover {
  cursor: pointer;
}

.fc-event-title,
.fc-daygrid-day-number {
    font-weight: bold;
}

#calendar-container {
  margin-top: 50px; 
}
