{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/launches/launch-detail.css' %}"
/>
<script defer src="{% static 'js/launch-detail.js' %}"></script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', (event) => {
    const launchImage = document.getElementById('launchImage');
    launchImage.addEventListener('click', () => {
      launchImage.src = '{% static 'images/launch-tracker-animation-once.gif' %}';
    });
  });
  </script>
  
{% endblock %}

{% block content %}

<div class="container">
  <section class="launch-container">
    <div class="launch-details">
      <h1>{{ launch.mission|upper }}</h1>
      <h2>{{ launch.model|title }} Rocket</h2>
      <h3>Orbit: {{ launch.orbit }}</h3>
      <h3>Carrying: {{ launch.payload }}</h3>
      {% if launch.crew > 0 %}
        <h3>Crew: {{ launch.crew }}</h3>
      {% endif %}
      <p>{{ launch.mfg }}</p>
      <p>Launch Location: {{ launch.location }}</p>
      <p>Launch on {{ launch.date }}</p>
      {% if is_creator %}
  <div class="launch-actions">
    <a href="{% url 'launch-update' launch.id %}" class="btn warn">Edit</a>
    <a href="{% url 'launch-delete' launch.id %}" class="btn danger">Delete</a>
    <h3>Change {{ launch.mission|title }}'s photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add-photo' launch.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  </div>
{% endif %}

    </div>
  <div class="launch-img">
    {% if launch.photo.url %}
      <img 
        src="{{launch.photo.url}}" 
        alt="A photo of {{launch.name}}"
        class="usr-img"
      >
    </div>
    {% else %}
    <div class="launch-img">
      <img 
        id="launchImage"
        src="{% static 'images/grounded-small.jpg' %}" 
        alt="load"
      >
    </div>
    {% endif %}
  </div>
    </div>
  </div>
</section>
<div class="schedule-satellite-container">
<section class="schedule">
  <div class="subsection-title">
    <h2>Schedule</h2>
    <img 
      src="{% static 'images/wire-frame-spinning-globe.gif' %}" 
      alt="load"
    />
    <img 
      src="{% static 'images/wire-frame-spinning-globe.gif' %}"
      alt="load"
    />
    <img 
      src="{% static 'images/wire-frame-spinning-globe.gif' %}" 
      alt="load"
    />
  </div>
  <h3>Re-schedule the Launch</h3>
    <form
      action="{% url 'add-schedule' launch.id %}" 
      method="post" 
      class="subsection-content"
      autocomplete="off"
    >
    {% if launch.schedule_set %}
        <p class="launched">{{launch.mission}} has not scrubbed yet. 🚀</p>
      {% else %}
        <p class="unlaunched">{{launch.mission}} has been been scrubbed! 😔</p>
      {% endif %}
      {% csrf_token %}
      {{ schedule_form.as_p }}
      <button type="submit" class="btn submit">Scrub the Launch</button>
    </form>
    <h3>Past Scrubs</h3>
    {% if launch.schedule_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Rough Time</th></tr>
        </thead>
        <tbody>
          {% for schedule in launch.schedule_set.all %}
            <tr>
              <td>{{schedule.date}}</td>
              <td>{{schedule.get_schedule_display}}</td>
            </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
			<div class="subsection-content">
        <p>{{launch.name}} has not been scrubbed yet</p>
      </div>
    {% endif %}
</section>
  <section class="satellites">
    <div class="subsection-title">
      <h2>Satellites</h2>
    </div>
    <h3>{{ launch.name }}Satellites</h3>
    <div class="subsection-content">
      {% if launch.satellites.count %}
        {% for satellite in launch.satellites.all %}
          <div class="satellite-container">
            <div 
              class="color-block"
              style="background-color: {{ satellite.color }}"
            ></div>
            <a href="{% url 'satellite-detail' satellite.id %}">
              <p>A {{ satellite.company }} {{ satellite.name }}</p>
              <p> {{ satellite.description }} </p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-satellites">{{launch.name}} doesn't have any Satellites 😞</p>
      {% endif %}
    </div>
</div>
</div>
</div>
{% endblock %}