{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/launches/launch-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Luanch List</h1>
  <img src="{% static 'images/launching.svg' %}" alt="load" />
  <img src="{% static 'images/launching.svg' %}" alt="load" />
  <img src="{% static 'images/launching.svg' %}" alt="load" />
  <img src="{% static 'images/launching.svg' %}" alt="load" />
</section>

<section class="card-container">
  {% for launch in launches %}
    <div class="card">
      <a href="{% url 'launch-detail' launch.id %}">
        <div class="card-content">
          <div class="card-img-container">
          <img 
            src="{% static 'images/launching.svg' %}" 
            alt="load"
          >
        </div>
        <h2 class="card-title">{{ launch.model }}</h2>
        <p>A {{ launch.size }} lift {{ launch.mfg }} Launch</p>
        <p><small>Orbit: {{ launch.orbit }}</small></p>
        <p><small>{{ launch.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}